package ${root_package_name}.entity;

import java.io.Serializable;

public class ${entity_name} implements Serializable {

	private static final long serialVersionUID = 1L;
#foreach ($attr in $entity_attrs)
	private ${attr.javatype} ${attr.name};
#end
	private String searchstr;
	private String sort;
	private int pageSize;
	private int pageNum;
        
#foreach($attr in $entity_attrs)
	public ${attr.javatype} get${attr.nameupper}() {
		return ${attr.name};
	}
	public void set${attr.nameupper}(${attr.javatype} ${attr.name}) {
		this.${attr.name} = ${attr.name};
	}
#end
	public void setSort(String sort) {
		this.sort = sort;
	}
	public String getSort() {
		return this.sort;
	}
	public void setSearchstr(String searchstr) {
		this.searchstr = searchstr;
	}
	public String getSearchstr() {
		return this.searchstr;
	}
	public int getPageSize() {
		return this.pageSize;
	}
	public void setPageSize(int pageSize) {
		this.pageSize = pageSize;
	}
	public int getPageNum() {
		return this.pageNum;
	}
	public void setPageNum(int pageNum) {
		this.pageNum = pageNum;
	}
	public static long getSerialversionuid() {
		return serialVersionUID;
	}
}
