<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.geo.test.dao.CommunityMapper">
	<!-- 数据库和实体类映射 -->
	<resultMap id="BaseResultMap"
		type="com.geo.test.entity.Community">
		<result column="fid__1" jdbcType="NUMERIC" property="fid__1" />
		<result column="longitude" jdbcType="NUMERIC" property="longitude" />
		<result column="latitude" jdbcType="NUMERIC" property="latitude" />
	</resultMap>

	<!-- 输出结构定义 -->
	<sql id="Base_Column_List">fid__1,longitude,latitude</sql>

	<!-- 查找列表 -->
	<select id="findList" parameterType="com.geo.test.entity.Community" resultMap="BaseResultMap">
		select 
			<include refid="Base_Column_List"></include>
		from community
		<trim prefix="where" prefixOverrides="and|or">
			<if test="fid__1 !='' and fid__1 != null">
				and fid__1 = #{fid__1,jdbcType=NUMERIC}
			</if>
			<if test="longitude !='' and longitude != null">
				and longitude = #{longitude,jdbcType=NUMERIC}
			</if>
			<if test="latitude !='' and latitude != null">
				and latitude = #{latitude,jdbcType=NUMERIC}
			</if>
			<if test="searchstr !='' and searchstr !=null" >
				and name like CONCAT(CONCAT('%', #{searchstr}), '%')
			</if>
     	</trim>
     	<if test="sort !='' and sort !=null" >
				order by  ${sort}
		</if>
	</select>
	
	<!-- 新添加的sql -->
	
	<!-- 添加 -->
	<insert id="insertSelective" parameterType="com.geo.test.entity.Community">
		insert into community 
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="fid__1 !='' and fid__1 != null">
				fid__1,
			</if>
			<if test="longitude !='' and longitude != null">
				longitude,
			</if>
			<if test="latitude !='' and latitude != null">
				latitude,
			</if>
     	</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="fid__1 !='' and fid__1 != null">
				#{fid__1,jdbcType=NUMERIC}, 
			</if>
			<if test="longitude !='' and longitude != null">
				#{longitude,jdbcType=NUMERIC}, 
			</if>
			<if test="latitude !='' and latitude != null">
				#{latitude,jdbcType=NUMERIC}, 
			</if>
		</trim>
	</insert>
	
	<!-- 删除 -->
	<delete id="deleteByKey" parameterType="String">
		delete from community
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteInBatch" parameterType="java.util.List">
		delete from community
		where id in 
		<foreach collection="list" item="id" open="(" close=")" separator="," >
	         #{id,jdbcType=VARCHAR}
	    </foreach>
	</delete>

	<!-- 修改 -->
	<update id="updateByKey" parameterType="com.geo.test.entity.Community">
		update community 
		<trim prefix="set" suffixOverrides=",">
				<if test="fid__1 != '' and fid__1 != null">
					fid__1 = #{fid__1,jdbcType=NUMERIC},
				</if>
				<if test="longitude != '' and longitude != null">
					longitude = #{longitude,jdbcType=NUMERIC},
				</if>
				<if test="latitude != '' and latitude != null">
					latitude = #{latitude,jdbcType=NUMERIC},
				</if>
		</trim>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	
	<!-- 依据id查找 -->
	<select id="findByKey" parameterType="String" resultMap="BaseResultMap">
		select 
			<include refid="Base_Column_List"></include>
			from community
    	where id=#{id,jdbcType=VARCHAR}
	</select>
	
</mapper>