(function(win) {
   var apihost = typeof APIHOST != "undefined" && APIHOST ? APIHOST : "http://localhost:8080/api/";
   var store = {
      urls: {
         add: apihost + "/${entity.namelow}/add",
         findbykey: apihost + "/${entity.namelow}/findByKey",
         findlist: apihost + "/${entity.namelow}/findList",
         findByCondition:apihost + "/${entity.namelow}/findByCondition",
         findall:apihost + "/${entity.namelow}/findAll",
         update: apihost + "/${entity.namelow}/update",
         delete: apihost + "/${entity.namelow}/delete"
      }
   };
   store.get = function(url,item, successed) {
   	  if(item){
   	      url+="?";
   	  }
   	  for(let k in item) {  
	      url+=k+"="+item[k]; 
	  }
      $.ajax({
         type: "get",
         url: url,
         dataType: 'json',
         success: function(data) {
            if (successed) {
               successed(data);
            }
         },
         error: function(error) {}
      })
   }

   store.post = function(url,item, successed) {
      $.ajax({
         type: "post",
         url: url,
         contentType: 'application/json',
         dataType: 'json',
         data: JSON.stringify(item),
         success: function(data) {
            if (successed) {
               successed(data);
            }
         },
         error: function(error) {}
      })
   }

   win.store = store;
   return store;
})(window)
