package ${project.packagename}.dao;

import java.util.*;

import org.springframework.stereotype.Repository;

import ${project.packagename}.entity.${entity.name};

@Repository //dao层接口  
@org.apache.ibatis.annotations.Mapper
public interface ${entity.name}Mapper {

#foreach ($function in $entity.functions)
	public ${function.result} ${function.name}(${function.paramtype} ${function.paramname});
#end

	public List<HashMap<String,Object>> findByCondition(HashMap<String,Object> item);
	
	public List<${entity.name}> findList(${entity.name} item);
	
	public ${entity.name} findByKey(${entity.primarykey.javatype} ${entity.primarykey.name});
	
	public int insertSelective(${entity.name} item);
	
	public int deleteByKey(${entity.primarykey.javatype} ${entity.primarykey.name});
	
	public int deleteByCondition(${entity.name} item);
	
	public int deleteInBatch(List<${entity.primarykey.javatype}> ${entity.primarykey.name}s);
	
	public int updateByKey(${entity.name} item);
	
}