<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${root_package_name}.dao.${entity_name}Mapper">
	<!-- 数据库和实体类映射 -->
	<resultMap id="BaseResultMap"
		type="${root_package_name}.entity.${entity_name}">
#foreach ($attr in $entity_attrs) 
		<result column="${attr.name}" jdbcType="${attr.dbtype}" property="${attr.name}" />
#end 
	</resultMap>

	<!-- 输出结构定义 -->
	<sql id="Base_Column_List">#foreach ($attr in $entity_attrs)${attr.name}#if($velocityCount != $entity_attrs.size()),#end#end</sql>

	<!-- 补充sql -->
#foreach ($function in $entity_functions)
	<select id="${function.name}" parameterType="${function.dbparamtype}" resultType="java.util.HashMap">
		select *
		from ${entity_table}
		<trim prefix="where" prefixOverrides="and|or">
#foreach ($attr in $entity_attrs) 
			<if test="${attr.name} !='' and ${attr.name} != null">
				and ${attr.name} = #{${attr.name},jdbcType=${attr.dbtype}}
			</if>
#end
     	</trim>
	</select>
#end 

	<!-- 查找列表 -->
	<select id="findList" parameterType="${root_package_name}.entity.${entity_name}" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"></include>
		from ${entity_table}
		<trim prefix="where" prefixOverrides="and|or">
#foreach ($attr in $entity_attrs) 
			<if test="${attr.name} !='' and ${attr.name} != null">
				and ${attr.name} = #{${attr.name},jdbcType=${attr.dbtype}}
			</if>
#end
#if($entity_attrs_forsearch.size()>0)
			<if test="searchstr !='' and searchstr !=null" >
				and (#foreach($attr in $entity_attrs_forsearch) #if(${attr.javatype}=='String')${attr.name} #else to_char(${attr.name}, '9999999999999999999') #end like CONCAT(CONCAT('%', #{searchstr}), '%') 
					#if($velocityCount != $entity_attrs_forsearch.size())or #end#end )
			</if>
#end
     	</trim>
     	<if test="sort !='' and sort !=null" >
				order by  ${sort}
		</if>
	</select>
	
	<!-- 依据id查找 -->
	<select id="findByKey" parameterType="${entity_key.javatype}" resultMap="BaseResultMap">
		select 
			<include refid="Base_Column_List"></include>
			from ${entity_table}
    	where ${entity_key.name}=#{${entity_key.name},jdbcType=${entity_key.dbtype}}
	</select>
		
	<!-- 添加 -->
	<insert id="insertSelective" #if(${entity_key.auto}) useGeneratedKeys="true" keyProperty="${entity_key.name}" #end parameterType="${root_package_name}.entity.${entity_name}">
		insert into ${entity_table} 
		<trim prefix="(" suffix=")" suffixOverrides=",">
#foreach ($attr in $entity_attrs) 
			<if test="${attr.name} !='' and ${attr.name} != null">
				${attr.name},
			</if>
#end
     	</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
#foreach ($attr in $entity_attrs)
			<if test="${attr.name} !='' and ${attr.name} != null">
				#{${attr.name},jdbcType=${attr.dbtype}}, 
			</if>
#end 
		</trim>
	</insert>
	
	<!-- 删除 -->
	<delete id="deleteByKey" parameterType="${entity_key.javatype}">
		delete from ${entity_table}
		where ${entity_key.name} = #{${entity_key.name},jdbcType=${entity_key.dbtype}}
	</delete>
	
	<!-- 批量删除 -->
	<delete id="deleteInBatch" parameterType="java.util.List">
		delete from ${entity_table}
		where ${entity_key.name} in 
		<foreach collection="list" item="id" open="(" close=")" separator="," >
	         #{id,jdbcType=${entity_key.dbtype}}
	    </foreach>
	</delete>
	
	<!-- 条件删除 -->
	<delete id="deleteByCondition" parameterType="${root_package_name}.entity.${entity_name}">
		delete from ${entity_table}
		<trim prefix="where" prefixOverrides="and|or">
#foreach ($attr in $entity_attrs) 
			<if test="${attr.name} !='' and ${attr.name} != null">
				and ${attr.name} = #{${attr.name},jdbcType=${attr.dbtype}}
			</if>
#end
     	</trim>
	</delete>

	<!-- 修改 -->
	<update id="updateByKey" parameterType="${root_package_name}.entity.${entity_name}">
		update ${entity_table} 
		<trim prefix="set" suffixOverrides=",">
#foreach ($attr in $entity_attrs)
#if(${attr.name} != 'id')
				<if test="${attr.name} != '' and ${attr.name} != null">
					${attr.name} = #{${attr.name},jdbcType=${attr.dbtype}},
				</if>
#end  
#end 
		</trim>
		where ${entity_key.name} = #{${entity_key.name},jdbcType=${entity_key.dbtype}}
	</update>
	
</mapper>