package ${root_package_name}.dao;

import java.util.*;

import org.springframework.stereotype.Repository;

import ${root_package_name}.entity.${entity_name};

@Repository //dao层接口  
@org.apache.ibatis.annotations.Mapper
public interface ${entity_name}Mapper {

#foreach ($function in $entity_functions)
	public ${function.result} ${function.name}(${function.paramtype} ${function.paramname});
#end

	public List<${entity_name}> findList(${entity_name} ${entity_name_low});
	
	public int insertSelective(${entity_name} ${entity_name_low});
	
	public int deleteByKey(${entity_key.javatype} ${entity_key.name});
	
	public int updateByKey(${entity_name} ${entity_name_low});
	
	public ${entity_name} findByKey(${entity_key.javatype} ${entity_key.name});
	
	public int deleteInBatch(List<${entity_key.javatype}> ${entity_key.name}s);
	
}